<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 08.04.2021, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Out of the 100 car and truck models available in Ukunda, six stand out as the very best vehicles among their peers. They were chosen from from almost 100 nominees by Forbes Wheels editors and contributors. Below are the best cars in six categories. They are the semifinalists for Forbes Wheels Car of the Year for 2021.</p>
        </article>

        <article>
            <time>published: 08.04.2021, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>BIM is a process incorporating digital representations of the physical and functional aspects of a building that can lead to better collaboration during design and construction on projects.</p>
        </article>
    </body>
</html>